.loading-page {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #f3b1e7 0%, #8aa3e9 75%);
  color: #E1DADA;
  font-size: 1.8rem;
  text-shadow: 1px 1px 6px rgb(241, 149, 204);
  font-family: "Jersey 10", sans-serif;
}

.loading-gif {
    max-width: 240px;
    width: 100%;
    height: auto;
    margin-bottom: 24px;
}

@keyframes bob {
  0%, 100% { transform: translateY(0); }
  50%     { transform: translateY(-2px); }
}

.loading-text {
  animation: bob 2s ease-in-out infinite;

}

.loading-retry {
  padding: 6px 12px;
  font-size: 1.6rem;
  font-weight: bold;
  background: #38375d;
  cursor: pointer;
}

.loading-retry:hover {
  color: #7698e2;
  background-color: #C6EFFF;
  cursor: pointer;
  box-shadow: 0 0 4px #afc2ff, 0 0 10px #afafff55;
  transition: all 0.5s ease;
}